<div class="row">
	<ul class="list-group row">
		<li class="list-group-item active task-list-header">
			Your tasks
			<a class="glyphicon glyphicon-cog pull-right"></a>
		</li>
		
		<li class="list-group-item">
			<div class="row">
				<div class="col-md-12">
					<div class="input-group">
						<input type="text" id="newTask" class="form-control" value="" placeholder="What do you have to do next?"/>
						<span class="input-group-btn">
							<button class="btn btn-success" type="button" ng-click="addTask()">Add new task</button>
						</span>
					</div>
				</div>
			</div>
		</li>
		
		<task ng-repeat="task in tasks"></task>
	</ul>
</div>
